* {
  box-sizing: content-box;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1020px;
}
@font-face {
  font-family: 'Futura Book C';
  src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot');
  src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../tools/fonts/futurabook/subset-FuturaBookC.woff2') format('woff2'), url('../tools/fonts/futurabook/subset-FuturaBookC.woff') format('woff'), url('../tools/fonts/futurabook/subset-FuturaBookC.ttf') format('truetype'), url('../tools/fonts/futurabook/subset-FuturaBookC.svg#FuturaBookC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Demi C';
  src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot');
  src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot') format('embedded-opentype'), url('../tools/fonts/futurademic/subset-FuturaDemiC.woff2') format('woff2'), url('../tools/fonts/futurademic/subset-FuturaDemiC.woff') format('woff'), url('../tools/fonts/futurademic/subset-FuturaDemiC.ttf') format('truetype'), url('../tools/fonts/futurademic/subset-FuturaDemiC.svg#FuturaDemiC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yeseva One';
  src: url('../tools/fonts/YesevaOne/YesevaOne.eot');
  src: url('../tools/fonts/YesevaOne/YesevaOne.eot?#iefix') format('embedded-opentype'), url('../tools/fonts/YesevaOne/YesevaOne.woff2') format('woff2'), url('../tools/fonts/YesevaOne/YesevaOne.woff') format('woff'), url('../tools/fonts/YesevaOne/YesevaOne.ttf') format('truetype'), url('../tools/fonts/YesevaOne/YesevaOne.svg#YesevaOne') format('svg');
  font-weight: normal;
  font-style: normal;
}
.yesevaOne {
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.button {
  cursor: pointer;
  width: 16.1rem;
  height: 3.7rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(227, 184, 115, 0.2);
  background-color: #e3b873;
  font-size: 1.3rem;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06rem;
  transition: 0.2s;
}
.button:hover {
  background-color: #dba249;
}
.button-white {
  cursor: pointer;
  width: 20.9rem;
  height: 5.3rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
  text-transform: uppercase;
  transition: 0.2s;
}
.button-white:hover {
  border-color: #d9d9d9;
  color: #d9d9d9;
}
.header {
  height: 8.3rem;
  background-color: #131313;
}
.header-container {
  height: 8.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 126.7rem;
  margin: 0 auto;
}
.header-logo {
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  color: #e3b873;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.header-menu a {
  padding-right: 4.6rem;
  color: #ffffff;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.3s;
}
.header-menu a:last-child {
  padding-right: none;
}
.header-menu a:hover {
  color: #e3b873;
}
.header-phone a {
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  color: #e3b873;
  font-size: 1.4rem;
  text-decoration: underline;
}
.first_display {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.first_display-leftbar {
  width: 6%;
  height: 70.7rem;
  background-color: #131313;
}
.first_display-leftbar-line {
  width: 0.2rem;
  height: 5.1rem;
  margin: 0 auto;
  margin-top: 13rem;
  background-color: #e3b873;
}
.first_display-leftbar a {
  transform: rotate(90deg);
  margin: 0 auto;
  margin-top: 10rem;
  display: block;
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #e3b873;
  text-transform: uppercase;
}
.first_display-rightbar {
  width: 94%;
  height: 70.7rem;
  background: url(../img/FirstDisplayBG.jpg) center no-repeat;
  background-size: cover;
}
.first_display-rightbar-dark {
  width: 100%;
  height: 70.7rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.first_display-rightbar-text {
  padding-left: 6rem;
}
.first_display-rightbar-text h1 {
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.391rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.first_display-rightbar-text h1 span {
  color: #e3b873;
}
.first_display-rightbar-text p {
  color: #ffffff;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.094rem;
  padding-bottom: 4rem;
}
.first_display-rightbar-text .main_button {
  width: 20.9rem;
  height: 5.3rem;
  margin-right: 2rem;
}
.first_display-scroll_down {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  width: 24.7rem;
  height: 9.7rem;
  background-color: #131313;
}
.first_display-scroll_down a:first-child {
  padding: 0 2rem 0 4.8rem;
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.first_display-scroll_down a:first-child:hover {
  color: #d9d9d9;
}
.first_display-scroll_down .scroll_down-arrow {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #e3b873;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3b873;
  font-size: 1.7rem;
}
.first_display-scroll_down .scroll_down-arrow:hover {
  border-color: #dba249;
  color: #dba249;
}
.showScrollDown {
  opacity: 1;
}
.hideScrollDown {
  opacity: 0;
}
.project {
  background-color: #131313;
  padding-bottom: 9rem;
}
.project-container {
  padding-left: 10.2rem;
  padding-top: 10.7rem;
  display: flex;
  justify-content: space-between;
}
.project-nav {
  margin: 0;
  padding-left: 0;
  padding-bottom: 5.2rem;
}
.project-nav li {
  cursor: pointer;
  display: inline-block;
  margin-right: 6rem;
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  line-height: 1.969rem;
}
.project-nav-active {
  color: #e3b873 !important;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e3b873;
}
.project-about {
  width: 41.5rem;
}
.project-about-head {
  position: relative;
  padding: 7rem 0 4.1rem;
}
.project-about-head h2 {
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #e3b873;
  font-size: 2.7rem;
  line-height: 3.797rem;
  letter-spacing: -0.189rem;
  text-transform: uppercase;
}
.project-about-head div {
  position: absolute;
  top: 12.2rem;
  left: 16.1rem;
  margin: 0;
  width: 9.2rem;
  height: 0.1rem;
  background-color: #e3b873;
}
.project-about-head p {
  padding-top: 3.3rem;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.953rem;
  color: #ffffff;
}
.project-about .active-about {
  display: flex;
  justify-content: space-between;
}
.project-about-texts {
  display: none;
}
.project-about-smallText {
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.109rem;
  color: #ffffff;
}
.project-about .left-col {
  min-height: 16rem;
  width: 15rem;
}
.project-about .left-col .city {
  padding-bottom: 3.3rem;
}
.project-about .left-col h4 {
  margin: 0;
  padding-bottom: 0.8rem;
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #e3b873;
}
.project-about .right-col {
  width: 21.5rem;
}
.project-about .right-col .area {
  padding-bottom: 5.4rem;
}
.project-about .right-col h4 {
  margin: 0;
  padding-bottom: 0.8rem;
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #e3b873;
}
.project-about-dots {
  width: 18rem;
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-about-dots span i {
  color: #ffffff;
  font-size: 2.5rem;
  transition: 0.4s;
}
.project-about-dots span i:hover {
  color: #999999;
}
.project-about-dots div {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
}
.project-about-dots div i {
  color: #666666;
  font-size: 1.5rem;
  transition: 0.5s;
}
.project-about-dots div i:hover {
  color: #b3b3b3;
}
.project-about-dots div .tab_dot_active {
  color: #ffffff;
}
.project-image {
  width: 85rem;
}
.project-image .gallery_slider {
  position: relative;
  display: none;
}
.project-image .active {
  display: flex;
}
.project-image .project_pic {
  padding-right: 2rem;
  box-shadow: 0 50px 30px rgba(0, 0, 0, 0.15);
}
.project-image .image_one {
  order: 1;
}
.project-image .image_two {
  order: 2;
}
.project-image .image_three {
  order: 3;
}
.project-image button.slider_right_arr {
  position: absolute;
  top: 21rem;
  left: 75rem;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0;
  border: none;
  background-color: #e3b873;
  box-shadow: 0 0 1.5rem rgba(227, 184, 115, 0.5);
  border-radius: 50%;
  transition: 0.6s;
}
.project-image button.slider_right_arr:hover {
  background-color: #ebce9d;
}
.project-image button.slider_right_arr i {
  color: #ffffff;
  font-size: 2rem;
}
.online_control-darkBG {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #131313;
}
.online_control-darkBG h3 {
  padding-bottom: 1.2rem;
  color: #ffffff;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.813rem;
  text-transform: uppercase;
}
.online_control-darkBG-pic {
  padding-bottom: 25.7rem;
}
.online_control-darkBG-video {
  position: absolute;
  top: 8.8rem;
  left: 50%;
  margin-left: -41.3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
}
.online_control-lightBG {
  text-align: center;
}
.online_control-lightBG-verticLine {
  display: inline-block;
  margin-top: 27rem;
  width: 5.5rem;
  height: 0.2rem;
  background-color: #e3b873;
}
.online_control-lightBG p {
  margin: 0 auto;
  width: 68.1rem;
  padding: 3.4rem 0 9rem;
  color: #ffffff;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.516rem;
  color: #363636;
}
.online_control-lightBG form input[type=text] {
  padding-bottom: 0.6rem;
  width: 23.3rem;
  border: none;
  border-bottom: 0.1rem solid rgba(54, 54, 54, 0.3);
}
.online_control-lightBG form input[type=text]::placeholder {
  font-size: 1.8rem;
  line-height: 2.531rem;
  color: #ffffff;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  color: #363636;
}
