// general settings

* {
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

button, input, a, textarea {
	&:focus {
		outline: none;
	}
}

a {
    text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.container {
    margin: 0 auto;
    max-width: 1020px;
}

@font-face {
    font-family: 'Futura Book C';
    src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot');
    src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('../tools/fonts/futurabook/subset-FuturaBookC.woff2') format('woff2'),
        url('../tools/fonts/futurabook/subset-FuturaBookC.woff') format('woff'),
        url('../tools/fonts/futurabook/subset-FuturaBookC.ttf') format('truetype'),
        url('../tools/fonts/futurabook/subset-FuturaBookC.svg#FuturaBookC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Demi C';
    src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot');
    src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot') format('embedded-opentype'),
        url('../tools/fonts/futurademic/subset-FuturaDemiC.woff2') format('woff2'),
        url('../tools/fonts/futurademic/subset-FuturaDemiC.woff') format('woff'),
        url('../tools/fonts/futurademic/subset-FuturaDemiC.ttf') format('truetype'),
        url('../tools/fonts/futurademic/subset-FuturaDemiC.svg#FuturaDemiC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../tools/fonts/YesevaOne/YesevaOne.eot');
    src: url('../tools/fonts/YesevaOne/YesevaOne.eot?#iefix') format('embedded-opentype'),
        url('../tools/fonts/YesevaOne/YesevaOne.woff2') format('woff2'),
        url('../tools/fonts/YesevaOne/YesevaOne.woff') format('woff'),
        url('../tools/fonts/YesevaOne/YesevaOne.ttf') format('truetype'),
        url('../tools/fonts/YesevaOne/YesevaOne.svg#YesevaOne') format('svg');
    font-weight: normal;
    font-style: normal;
}



//colors 

@white: #ffffff;
@iconsColor: #e3b873;
@bgColor: #131313;
@videoParagraphColor: #363636;

//mix-ins 

.flex() {
    display: flex;
    justify-content: space-between;
}

.flex-center() {
    display: flex;
    justify-content: center;
}

.flex-centerV() {
    display: flex;
    align-items: center;
}

.futuraBook() {
    color: @white;
    font-family: 'Futura Book C', arial, sans-serif;
    font-weight: 400;
}

.futuraDemi() {
    color: @white;
    font-family: 'Futura Demi C', arial, sans-serif;
    font-weight: 400;
}

.yesevaOne {
    color: @white;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

//common things

.button {
    cursor: pointer;
    width: 16.1rem;
    height: 3.7rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(227, 184, 115, 0.2);
    background-color: @iconsColor;
    font-size: 1.3rem;
    .futuraDemi();
    text-transform: uppercase;
    color: @white;
    letter-spacing: 0.06rem;
    transition: 0.2s;
    &:hover {
        background-color: darken(@iconsColor, 10%);
    }
}

.button-white {
    cursor: pointer;
    width: 20.9rem;
    height: 5.3rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #ffffff;
    background-color: transparent;
    .futuraDemi();
    font-size: 1.3rem;
    font-style: italic;
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
        border-color: darken(@white, 15%);
        color: darken(@white, 15%);
    }
}

//header 

.header {
    height: 8.3rem;
    background-color: @bgColor;
    &-container {
        height: 8.3rem;
        .flex();
        align-items: center;
        max-width: 126.7rem;
        margin: 0 auto;
    }
    &-logo {
        .futuraDemi();
        color: @iconsColor;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &-menu {
        a {
            padding-right: 4.6rem;
            .futuraBook();
            font-size: 1.4rem;
            transition: 0.3s;
            &:last-child {
                padding-right: none;
            }
            &:hover {
                color: @iconsColor;
            }
        }
    }
    &-phone {
        a {
            .futuraDemi();
            color: @iconsColor;
            font-size: 1.4rem;
            text-decoration: underline;
        }
    }
}

//main display section styles

.first_display {
    position: relative;
    .flex();
    &-leftbar {
        width: 6%;
        height: 70.7rem;
        background-color: @bgColor;
        &-line {
            width: 0.2rem;
            height: 5.1rem;
            margin: 0 auto;
            margin-top: 13rem;
            background-color: @iconsColor;
        }
        a {
            transform: rotate(90deg);
            margin: 0 auto;
            margin-top: 10rem;
            display: block;
            .futuraDemi();
            font-size: 1.4rem;
            color: @iconsColor;
            text-transform: uppercase;
        }
    }
    &-rightbar {
        width: 94%;
        height: 70.7rem;
        background: url(../img/FirstDisplayBG.jpg) center no-repeat;
        background-size: cover;
        &-dark {
            width: 100%;
            height: 70.7rem;
            .flex-centerV();
            background-color: rgba(0, 0, 0, 0.7);
        }
        &-text {
            padding-left: 6rem;
            h1 {
                .yesevaOne();
                font-size: 4rem;
                line-height: 5.391rem;
                text-transform: uppercase;
                padding-bottom: 2rem;
                span {
                    color: @iconsColor;
                }
            }
            p {
                .futuraBook();
                font-size: 2.2rem;
                line-height: 3.094rem;
                padding-bottom: 4rem;
            }
            .main_button {
                width: 20.9rem;
                height: 5.3rem;
                margin-right: 2rem;
            }
        }
    }
    &-scroll_down {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        transition: 0.5s;
        .flex-centerV();
        width: 24.7rem;
        height: 9.7rem;
        background-color: @bgColor;
        a:first-child {
            padding:0 2rem 0 4.8rem;
            .yesevaOne();
            font-size: 1.4rem;
            text-transform: uppercase;
            &:hover {
                color: darken(@white, 15%);
            }
        }
        .scroll_down-arrow {
            width: 3rem;
            height: 3rem;
            border: 0.2rem solid #e3b873;
            border-radius: 50%;
            .flex-centerV();
            justify-content: center;
            color: @iconsColor;
            font-size: 1.7rem;
            &:hover {
                border-color: darken(@iconsColor, 10%);
                color: darken(@iconsColor, 10%);
            }
        }
    }
}

//for js function scrollDown

.showScrollDown {
    opacity: 1;
}
.hideScrollDown {
    opacity: 0;
}

// project section style

.project {
    // general project block set
    background-color: @bgColor;
    padding-bottom: 9rem;
    &-container {
        padding-left: 10.2rem;
        padding-top: 10.7rem;
        .flex();
    }
    //menг for tabs between projects
    &-nav {
        margin: 0;
        padding-left: 0;
        padding-bottom: 5.2rem;
        li {
            cursor: pointer;
            display: inline-block;
            margin-right: 6rem;
            list-style: none;
            font-size: 1.4rem;
            text-transform: uppercase;
            .yesevaOne();
            color: rgba(255, 255, 255, 0.3);
            line-height: 1.969rem;
        }
        &-active { 
            color: @iconsColor !important; 
            padding-bottom: 0.5rem;
            border-bottom: 1px solid @iconsColor;
        }
    }
    //text about projects, left col
    &-about {
        width: 41.5rem;
        &-head {
            position: relative;
            padding: 7rem 0 4.1rem;
            h2 {
                .yesevaOne();
                color: @iconsColor;
                font-size: 2.7rem;
                line-height: 3.797rem;
                letter-spacing: -0.189rem;
                text-transform: uppercase;
            }
            div {
                position: absolute;
                top: 12.2rem;
                left: 16.1rem;
                margin: 0;
                width: 9.2rem;
                height: 0.1rem;
                background-color: @iconsColor;
            }
            p {
                padding-top: 3.3rem;
                .futuraBook();
                font-size: 1.8rem;
                line-height: 2.953rem;
                color: @white;
            }
        }
        .active-about {
            .flex();
        }
        //hidden twe project descriptions 
        &-texts {
            display: none;
        }
        &-smallText {
            .futuraBook();
            font-size: 1.5rem;
            line-height: 2.109rem;
            color: @white;
        }
        .left-col {
            min-height: 16rem;
            width: 15rem;
            .city {
                padding-bottom: 3.3rem;
            }
            h4 {
                margin: 0;
                padding-bottom: 0.8rem;
                .yesevaOne();
                font-size: 1.8rem;
                text-transform: uppercase;
                color: @iconsColor;
            }
        }
        .right-col {
            width: 21.5rem;
            .area {
                padding-bottom: 5.4rem;
            }
            h4 {
                margin: 0;
                padding-bottom: 0.8rem;
                .yesevaOne();
                font-size: 1.8rem;
                text-transform: uppercase;
                color: @iconsColor;
            }
        }
        &-dots {
            width: 18rem;
            padding-top: 8rem;
            .flex();
            align-items: center;
            span i{
                color: @white;
                font-size: 2.5rem;
                transition: 0.4s;
                &:hover {
                    color: darken(@white, 40%);
                }
            }
            div {
                width: 6.5rem;
                .flex();
                i {
                    color: darken(@white, 60%);
                    font-size: 1.5rem;
                    transition: 0.5s;
                    &:hover {
                        color: darken(@white, 30%);
                    }
                }
                .tab_dot_active {
                    color: @white;
                }
            }
        }
    }
    //photo of projects, right col
    //slider settings 
    &-image {
        width: 85rem;
        .gallery_slider {
            position: relative;
            display: none;
        }
        .active {
            display: flex;
        }
        .project_pic {
            padding-right: 2rem;
            box-shadow: 0 50px 30px rgba(0, 0, 0, 0.15);
        }
        .image_one {
            order: 1;
        }
        .image_two {
            order: 2;
        }
        .image_three {
            order: 3;
        }
        //slider right arr
        button.slider_right_arr {
            position: absolute;
            top: 21rem;
            left: 75rem;
            width: 5.5rem;
            height: 5.5rem;
            padding: 0;
            border: none;
            background-color: @iconsColor;
            box-shadow: 0 0 1.5rem rgba(227, 184, 115, 0.5);
            border-radius: 50%;
            transition: 0.6s;
            &:hover {
                background-color: lighten(@iconsColor, 10%);
            }
            i {
                color: @white;
                font-size: 2rem;
            }
        }
    }
}

//online control section settings
.online_control {  
    // first part of block with dark bg
    &-darkBG {
        position: relative;
        text-align: center;
        width: 100%;
        background-color: @bgColor;
        h3 {
            padding-bottom: 1.2rem;
            color: @white;
            .yesevaOne();
            font-size: 2rem;
            line-height: 2.813rem;
            text-transform: uppercase;
        }
        &-pic {
            padding-bottom: 25.7rem;
        }
        &-video {
            position: absolute;
            top: 8.8rem;
            left: 50%;
            margin-left: -41.3rem;
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
        }
    }
    //second part of thу block with light bg
    &-lightBG {
        text-align: center;
        &-verticLine {
            display: inline-block;
            margin-top: 27rem;
            width: 5.5rem;
            height: 0.2rem;
            background-color: @iconsColor;
        }
        p {
            margin: 0 auto;
            width: 68.1rem;
            padding: 3.4rem 0 9rem;
            .futuraBook();
            font-size: 2rem;
            line-height: 3.516rem;
            color: @videoParagraphColor;
        }
        form {
            input[type=text] {
                padding-bottom: 0.6rem;
                width: 23.3rem;
                border: none;
                border-bottom: 0.1rem solid rgba(54, 54, 54, 0.3);
                &::placeholder {
                    font-size: 1.8rem;
                    line-height: 2.531rem;
                    .futuraBook();
                    color: @videoParagraphColor;
                }
            }
        }
    }
}
