* {
  box-sizing: content-box;
}
html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1020px;
}
@font-face {
  font-family: 'Futura Book C';
  src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot');
  src: url('../tools/fonts/futurabook/subset-FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../tools/fonts/futurabook/subset-FuturaBookC.woff2') format('woff2'), url('../tools/fonts/futurabook/subset-FuturaBookC.woff') format('woff'), url('../tools/fonts/futurabook/subset-FuturaBookC.ttf') format('truetype'), url('../tools/fonts/futurabook/subset-FuturaBookC.svg#FuturaBookC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Demi C';
  src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot');
  src: url('../tools/fonts/futurademic/subset-FuturaDemiC.eot') format('embedded-opentype'), url('../tools/fonts/futurademic/subset-FuturaDemiC.woff2') format('woff2'), url('../tools/fonts/futurademic/subset-FuturaDemiC.woff') format('woff'), url('../tools/fonts/futurademic/subset-FuturaDemiC.ttf') format('truetype'), url('../tools/fonts/futurademic/subset-FuturaDemiC.svg#FuturaDemiC') format('svg');
  font-weight: normal;
  font-style: normal;
}
.button {
  width: 16.1rem;
  height: 3.7rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(227, 184, 115, 0.2);
  background-color: #e3b873;
  font-size: 1.3rem;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06rem;
  transition: 0.2s;
}
.button:hover {
  background-color: #dba249;
}
.header {
  height: 8.3rem;
  background-color: #131313;
}
.header-container {
  height: 8.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 126.7rem;
  margin: 0 auto;
}
.header-logo {
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  color: #e3b873;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.header-menu a {
  padding-right: 4.6rem;
  color: #ffffff;
  font-family: 'Futura Book C', arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.3s;
  text-decoration: none;
}
.header-menu a:last-child {
  padding-right: none;
}
.header-menu a:hover {
  color: #e3b873;
}
.header-phone a {
  color: #ffffff;
  font-family: 'Futura Demi C', arial, sans-serif;
  font-weight: 400;
  color: #e3b873;
  font-size: 1.4rem;
}
